:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --transparent: rgba(255, 255, 255, 0);

  /* Color Scales */
  --grey-12: rgba(27, 27, 24, 1);
  --grey-11: rgba(112, 111, 108, 1);
  --grey-10: rgba(134, 134, 130, 1);
  --grey-9: rgba(144, 144, 140, 1);
  --grey-8: rgba(200, 199, 193, 1);
  --grey-7: rgba(219, 219, 215, 1);
  --grey-6: rgba(227, 227, 224, 1);
  --grey-5: rgba(233, 233, 230, 1);
  --grey-4: rgba(238, 238, 236, 1);
  --grey-3: rgba(243, 243, 242, 1);
  --grey-2: rgba(249, 249, 248, 1);
  --grey-1: rgba(253, 253, 252, 1);

  --tomato-12: rgba(69, 10, 0, 1);
  --tomato-11: rgba(212, 48, 41, 1);
  --tomato-10: rgba(227, 66, 54, 1);
  --tomato-9: rgba(245, 84, 66, 1);
  --tomato-8: rgba(255, 140, 128, 1);
  --tomato-7: rgba(255, 178, 163, 1);
  --tomato-6: rgba(255, 194, 181, 1);
  --tomato-5: rgba(255, 209, 201, 1);
  --tomato-4: rgba(255, 222, 214, 1);
  --tomato-3: rgba(255, 237, 232, 1);
  --tomato-2: rgba(255, 245, 242, 1);
  --tomato-1: rgba(255, 252, 252, 1);

  --green-12: rgba(21, 50, 41, 1);
  --green-11: rgba(24, 121, 92, 1);
  --green-10: rgba(41, 151, 118, 1);
  --green-9: rgba(42, 164, 130, 1);
  --green-8: rgba(91, 185, 157, 1);
  --green-7: rgba(146, 206, 188, 1);
  --green-6: rgba(180, 223, 210, 1);
  --green-5: rgba(204, 235, 226, 1);
  --green-4: rgba(221, 243, 236, 1);
  --green-3: rgba(233, 249, 244, 1);
  --green-2: rgba(242, 252, 249, 1);
  --green-1: rgba(251, 254, 253, 1);

  --purple-12: rgba(32, 19, 75, 1);
  --purple-11: rgba(87, 70, 175, 1);
  --purple-10: rgba(100, 79, 193, 1);
  --purple-9: rgba(110, 86, 207, 1);
  --purple-8: rgba(170, 153, 236, 1);
  --purple-7: rgba(196, 184, 243, 1);
  --purple-6: rgba(215, 207, 249, 1);
  --purple-5: rgba(228, 222, 252, 1);
  --purple-4: rgba(237, 233, 254, 1);
  --purple-3: rgba(245, 242, 255, 1);
  --purple-2: rgba(251, 250, 255, 1);
  --purple-1: rgba(253, 252, 254, 1);

  --blue-12: rgba(8, 23, 77, 1);
  --blue-11: rgba(44, 72, 219, 1);
  --blue-10: rgba(36, 99, 222, 1);
  --blue-9: rgba(66, 107, 255, 1);
  --blue-8: rgba(115, 143, 240, 1);
  --blue-7: rgba(154, 172, 242, 1);
  --blue-6: rgba(176, 191, 247, 1);
  --blue-5: rgba(199, 213, 255, 1);
  --blue-4: rgba(219, 227, 255, 1);
  --blue-3: rgba(236, 240, 254, 1);
  --blue-2: rgba(245, 247, 255, 1);
  --blue-1: rgba(251, 252, 255, 1);

  --amber-1: rgba(254, 253, 251, 1);
  --amber-2: rgba(255, 249, 237, 1);
  --amber-3: rgba(255, 244, 213, 1);
  --amber-4: rgba(255, 236, 188, 1);
  --amber-5: rgba(255, 227, 162, 1);
  --amber-6: rgba(255, 211, 134, 1);
  --amber-7: rgba(243, 186, 99, 1);
  --amber-8: rgba(238, 157, 43, 1);
  --amber-9: rgba(255, 178, 36, 1);
  --amber-10: rgba(255, 160, 28, 1);
  --amber-11: rgba(173, 87, 0, 1);
  --amber-12: rgba(78, 32, 9, 1);
}

[data-color-theme='light'],
.figma-light {
  --grey-12: rgba(27, 27, 24, 1);
  --grey-11: rgba(112, 111, 108, 1);
  --grey-10: rgba(134, 134, 130, 1);
  --grey-9: rgba(144, 144, 140, 1);
  --grey-8: rgba(200, 199, 193, 1);
  --grey-7: rgba(219, 219, 215, 1);
  --grey-6: rgba(227, 227, 224, 1);
  --grey-5: rgba(233, 233, 230, 1);
  --grey-4: rgba(238, 238, 236, 1);
  --grey-3: rgba(243, 243, 242, 1);
  --grey-2: rgba(249, 249, 248, 1);
  --grey-1: rgba(253, 253, 252, 1);

  --tomato-12: rgba(69, 10, 0, 1);
  --tomato-11: rgba(212, 48, 41, 1);
  --tomato-10: rgba(227, 66, 54, 1);
  --tomato-9: rgba(245, 84, 66, 1);
  --tomato-8: rgba(255, 140, 128, 1);
  --tomato-7: rgba(255, 178, 163, 1);
  --tomato-6: rgba(255, 194, 181, 1);
  --tomato-5: rgba(255, 209, 201, 1);
  --tomato-4: rgba(255, 222, 214, 1);
  --tomato-3: rgba(255, 237, 232, 1);
  --tomato-2: rgba(255, 245, 242, 1);
  --tomato-1: rgba(255, 252, 252, 1);

  --green-12: rgba(21, 50, 41, 1);
  --green-11: rgba(24, 121, 92, 1);
  --green-10: rgba(41, 151, 118, 1);
  --green-9: rgba(42, 164, 130, 1);
  --green-8: rgba(91, 185, 157, 1);
  --green-7: rgba(146, 206, 188, 1);
  --green-6: rgba(180, 223, 210, 1);
  --green-5: rgba(204, 235, 226, 1);
  --green-4: rgba(221, 243, 236, 1);
  --green-3: rgba(233, 249, 244, 1);
  --green-2: rgba(242, 252, 249, 1);
  --green-1: rgba(251, 254, 253, 1);

  --purple-12: rgba(32, 19, 75, 1);
  --purple-11: rgba(87, 70, 175, 1);
  --purple-10: rgba(100, 79, 193, 1);
  --purple-9: rgba(110, 86, 207, 1);
  --purple-8: rgba(170, 153, 236, 1);
  --purple-7: rgba(196, 184, 243, 1);
  --purple-6: rgba(215, 207, 249, 1);
  --purple-5: rgba(228, 222, 252, 1);
  --purple-4: rgba(237, 233, 254, 1);
  --purple-3: rgba(245, 242, 255, 1);
  --purple-2: rgba(251, 250, 255, 1);
  --purple-1: rgba(253, 252, 254, 1);

  --blue-12: rgba(8, 23, 77, 1);
  --blue-11: rgba(44, 72, 219, 1);
  --blue-10: rgba(36, 99, 222, 1);
  --blue-9: rgba(66, 107, 255, 1);
  --blue-8: rgba(115, 143, 240, 1);
  --blue-7: rgba(154, 172, 242, 1);
  --blue-6: rgba(176, 191, 247, 1);
  --blue-5: rgba(199, 213, 255, 1);
  --blue-4: rgba(219, 227, 255, 1);
  --blue-3: rgba(236, 240, 254, 1);
  --blue-2: rgba(245, 247, 255, 1);
  --blue-1: rgba(251, 252, 255, 1);

  --amber-1: rgba(254, 253, 251, 1);
  --amber-2: rgba(255, 249, 237, 1);
  --amber-3: rgba(255, 244, 213, 1);
  --amber-4: rgba(255, 236, 188, 1);
  --amber-5: rgba(255, 227, 162, 1);
  --amber-6: rgba(255, 211, 134, 1);
  --amber-7: rgba(243, 186, 99, 1);
  --amber-8: rgba(238, 157, 43, 1);
  --amber-9: rgba(255, 178, 36, 1);
  --amber-10: rgba(255, 160, 28, 1);
  --amber-11: rgba(173, 87, 0, 1);
  --amber-12: rgba(78, 32, 9, 1);
}

[data-color-theme='dark'],
.figma-dark {
  --grey-12: rgba(237, 237, 236, 1);
  --grey-11: rgba(161, 160, 154, 1);
  --grey-10: rgba(127, 126, 119, 1);
  --grey-9: rgba(113, 112, 105, 1);
  --grey-8: rgba(81, 80, 75, 1);
  --grey-7: rgba(62, 62, 58, 1);
  --grey-6: rgba(53, 52, 49, 1);
  --grey-5: rgba(46, 46, 43, 1);
  --grey-4: rgba(40, 40, 38, 1);
  --grey-3: rgba(35, 35, 32, 1);
  --grey-2: rgba(28, 28, 26, 1);
  --grey-1: rgba(22, 22, 21, 1);

  --tomato-12: rgba(255, 237, 232, 1);
  --tomato-11: rgba(255, 125, 102, 1);
  --tomato-10: rgba(255, 99, 79, 1);
  --tomato-9: rgba(245, 84, 66, 1);
  --tomato-8: rgba(171, 48, 38, 1);
  --tomato-7: rgba(131, 42, 33, 1);
  --tomato-6: rgba(97, 33, 26, 1);
  --tomato-5: rgba(82, 28, 23, 1);
  --tomato-4: rgba(64, 26, 18, 1);
  --tomato-3: rgba(51, 20, 13, 1);
  --tomato-2: rgba(38, 20, 15, 1);
  --tomato-1: rgba(28, 13, 8, 1);

  --green-12: rgba(229, 251, 244, 1);
  --green-11: rgba(76, 195, 159, 1);
  --green-10: rgba(60, 177, 142, 1);
  --green-9: rgba(42, 164, 130, 1);
  --green-8: rgba(35, 110, 87, 1);
  --green-7: rgba(27, 84, 67, 1);
  --green-6: rgba(22, 68, 54, 1);
  --green-5: rgba(19, 57, 46, 1);
  --green-4: rgba(17, 49, 39, 1);
  --green-3: rgba(15, 41, 33, 1);
  --green-2: rgba(12, 31, 25, 1);
  --green-1: rgba(13, 25, 21, 1);

  --purple-12: rgba(241, 238, 254, 1);
  --purple-11: rgba(158, 140, 252, 1);
  --purple-10: rgba(124, 102, 220, 1);
  --purple-9: rgba(110, 86, 207, 1);
  --purple-8: rgba(88, 66, 195, 1);
  --purple-7: rgba(68, 53, 146, 1);
  --purple-6: rgba(57, 44, 114, 1);
  --purple-5: rgba(50, 39, 95, 1);
  --purple-4: rgba(44, 34, 80, 1);
  --purple-3: rgba(37, 30, 64, 1);
  --purple-2: rgba(28, 23, 43, 1);
  --purple-1: rgba(23, 21, 31, 1);

  --blue-12: rgba(234, 239, 255, 1);
  --blue-11: rgba(94, 129, 248, 1);
  --blue-10: rgba(82, 119, 255, 1);
  --blue-9: rgba(66, 107, 255, 1);
  --blue-8: rgba(46, 78, 195, 1);
  --blue-7: rgba(45, 67, 145, 1);
  --blue-6: rgba(41, 60, 131, 1);
  --blue-5: rgba(39, 54, 115, 1);
  --blue-4: rgba(36, 49, 102, 1);
  --blue-3: rgba(28, 39, 82, 1);
  --blue-2: rgba(20, 29, 58, 1);
  --blue-1: rgba(16, 24, 33, 1);

  --amber-1: rgba(31, 19, 0, 1);
  --amber-2: rgba(39, 23, 0, 1);
  --amber-3: rgba(52, 28, 0, 1);
  --amber-4: rgba(63, 34, 0, 1);
  --amber-5: rgba(74, 41, 0, 1);
  --amber-6: rgba(87, 51, 0, 1);
  --amber-7: rgba(105, 63, 5, 1);
  --amber-8: rgba(130, 78, 0, 1);
  --amber-9: rgba(255, 178, 36, 1);
  --amber-10: rgba(255, 203, 71, 1);
  --amber-11: rgba(241, 161, 13, 1);
  --amber-12: rgba(254, 243, 221, 1);
}
